body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  overflow-y: auto;
}

.container {
  background: #fff;
  padding: 20px 20px 33px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 49.5%;
  padding: 8px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background: #28a745;
  color: white;
  cursor: pointer;
}

.buttonGerar {
  width: 100%;
}

button:hover {
  background: #218838;
}

.delete-all {
  background: #dc3545;
}

.delete-all:hover {
  background: #c82333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.actions {
  text-align: center;
}

.actions button {
  margin: 2px;
  padding: 4px 6px;
  width: auto;
}

.hidden {
  display: none;
}

.tabela-scroll {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 15px;
  border: 1px solid #ddd;
}

.tabela-scroll thead th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}

.checkbox-inline {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  font-weight: bold;
}

table,
th,
td {
  font-size: 14px;
  padding: 4px 6px;
}

.castrotitle {
  color: #c82333;
}

.decor-line {
  width: 60%;
  height: 3px;
  background: linear-gradient(to right, #c82333, #ff4757);
  margin: 8px auto 16px;
  border-radius: 2px;

}
